*::selection {
   color: blue;
   background-color: transparent;
}

.btn-Data-Kill::selection {
   color: black;
   background-color: transparent;
}

.btn-Data-Kill:hover {
   cursor: pointer;
}

.btn-Data-Kill {
   background-color: yellow;
   opacity: .5;
   width: 15%;
   height: 15%;
}

.picBehindButton {
   width: 15%;
   height: 15%'
}
