*::selection {
   color: grey;
   background-color: lightgrey;
}

body {
 background-color: lightblue;
 margin: 0px;
}

.head::after {
 color: blue;
 font-size: 50px;
 content: 'Death Clicker';
}

.clickArea { 
 width: 100px;
 height: 100px;
 background-color: blue;
 padding: 3px;
}

.clickArea:active {
 background-color: lightblue;
}

.clickArea::after {
 color: lightblue;
 font-size: 50px;
 content: 'Kill Someone';  
}

.clickArea:active::after {
 color: blue;
 font-size: 50px;
 content: 'Kill Someone';
}
