*::selection {
   color: grey;
   background-color: lightgrey;
}

body {
 background-color: lightblue;
 margin: 0px;
}

.head {
 color: blue;
 font-size: 50px;
}

.clickArea { 
 width: 15%;
 height: 15%;
 background-color: blue;
 padding: 3px;
}

.clickArea:hover {
 background-color: lightblue;
}
