*::selection {
   color: grey;
   background-color: lightgrey;
}

body {
 background-color: lightblue;
 margin: 0px;
}

.head {
 color: blue;
 font-size: 50px;
}

.clickArea {
 background: url("pic1.jpg");  
 width: 15%;
 height: 15%;
 background-color: blue;
 padding: 1px;
}

.clickArea:active {
 background: url("pic2.jpg");  
}
